{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{ Title }} <small>{{ instance.timestamp }}<br></small> </h1>
{% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% else %}
    <p>Author: {{ instance.user }}</p>
{% endif %}
<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

     {% if instance.image %}
         <img src="{{ instance.image.url }}" alt="" class="img-responsive">
     {% endif %}

<p>
    {% comment %}{{ share_string }}{% endcomment %}
    Share on:
   <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
       Facebook
   </a>
    <a href="https://twitter.com/home?status={{ instance.content|truncatechars:140|urlify }}%20{{ request.build_absolute_uri }}">
        Twitter
    </a>
    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google +</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ instance.content|truncatechars:140|urlify }}&source={{ request.build_absolute_uri }}">
        Linkedin
    </a>
    {{ instance.content|linebreaks }}<br>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</p>

</div>
{% endblock %}